[submodule "Fastify-TypeScript/applying-advanced-typescript-definition-patterns"]
	path = Fastify-TypeScript/applying-advanced-typescript-definition-patterns
	url = git@github.com:Ethan-Arrowood/applying-advanced-typescript-definition-patterns.git
